$main-color: #E0EAFC;
$main-color-2: #CFDEF3;
$side-color: #BE93C5;
$side-color-2: #7BC6CC;

@mixin mainGradient{
  background: $main-color;
  background: -webkit-linear-gradient(to left, $main-color , $main-color-2);
  background: linear-gradient(to left, $main-color , $main-color-2);
}

@mixin sideGradient{
  background: $side-color;
  background: -webkit-linear-gradient(to left, $side-color , $side-color-2);
  background: linear-gradient(to left, $side-color , $side-color-2);
}
