$main-color: #E0EAFC;
$main-color-2: #CFDEF3;
$side-color: #BE93C5;
$side-color-2: #7BC6CC;
$text-color: #2B2B2B;
$info-text-color: #DAD5DC;

@mixin mainGradient{
  background: $main-color;
  background: -webkit-linear-gradient(to left, $main-color , $main-color-2);
  background: linear-gradient(to left, $main-color , $main-color-2);
}

@mixin sideGradient{
  background: $side-color;
  background: -webkit-linear-gradient(to left, $side-color , $side-color-2);
  background: linear-gradient(to left, $side-color , $side-color-2);
}

@mixin alternateScroll{
  &::-webkit-scrollbar-thumb {
    background: rgb(194, 24, 91);
    border-radius: 2px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
    border: none !important;
  }
  &::-webkit-scrollbar {
    width: 6px !important;
  }
}
