<div class="modal-create-book">
  <ng-container [ngTemplateOutlet]="haeder"></ng-container>
  <ng-container [ngTemplateOutlet]="creationForm"></ng-container>
  <ng-container [ngTemplateOutlet]="buttonBar"></ng-container>
</div>

<ng-template #haeder>
  <div class="header">
    Заголовок
  </div>
</ng-template>

<ng-template #creationForm>
  <form class="creation-form" [formGroup]="form">
    <div class="form" *ngFor="let formField of bookCreationForm">
      <mat-form-field>
        <mat-label>{{formField.label}}</mat-label>
        <ng-container [ngSwitch]="formField.input.type">
          <input matInput *ngSwitchCase="inputTypes['string']" [formControlName]="formField.prop" type="text">
          <input matInput *ngSwitchCase="inputTypes['number']" [formControlName]="formField.prop" type="number">
          <textarea matInput *ngSwitchCase="inputTypes['text']" [formControlName]="formField.prop"></textarea>
          <mat-select *ngSwitchCase="inputTypes['select']" [formControlName]="formField.prop">
            <mat-option *ngFor="let data of ((formField.input.data$ | async) || [])" [value]="data">
              {{data['name']}}
            </mat-option>
          </mat-select>
        </ng-container>
        <mat-error *ngIf="form.get(formField.prop)?.invalid">{{form.get(formField.prop) | getErrMess | async}}</mat-error>
      </mat-form-field>
    </div>

  </form>
</ng-template>

<ng-template #buttonBar>
  <div class="button-bar">
    <button mat-raised-button (click)="save()" [mat-dialog-close]="form.value">Сохранить</button>
    <button mat-raised-button (click)="cancel()" [mat-dialog-close]="false">Отменить</button>
  </div>
</ng-template>
