$header-height: 10%;
$footer-height: 10%;
$main-height: calc(100% - ($header-height + $footer-height));

.book-list{
  height: 100%;
}

.header{
  height: $header-height;
}

.main{
  height: $main-height;
  display: flex;
}

.footer{
  height: $footer-height;
}
