<div class="authors-list">
  <ng-container [ngTemplateOutlet]="header"></ng-container>
  <ng-container [ngTemplateOutlet]="main"></ng-container>
  <ng-container [ngTemplateOutlet]="footer"></ng-container>
</div>

<ng-template #header>
  <header class="header">
  </header>
</ng-template>

<ng-template #main>
  <main class="main">
    <mat-list class="list">
      <ng-container *ngFor="let author of authors">
        <mat-list-item contenteditable="true" (input)="authorEdit($event, author)" [matTooltip]="author.name">
          {{author.name}}
        </mat-list-item>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-list>
  </main>
</ng-template>

<ng-template #footer>
  <footer class="footer">
    <button mat-icon-button matTooltip="Добавить автора" (click)="createAuthor()">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Сохранить изменения" (click)="save()" [disabled]="!authorsNames.size">
      <mat-icon>done</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Отменить изменения" (click)="reset()" [disabled]="!authorsNames.size">
      <mat-icon>settings_backup_restore</mat-icon>
    </button>
  </footer>
</ng-template>
