<div class="book">
  <ng-container [ngTemplateOutlet]="bookView"></ng-container>
</div>

<ng-template #bookView>
  <div class="container" #bookContainer>
		<div class="book">
			<div class="front">
				<div class="cover">
          <p class="info name">{{book?.name}}</p>
          <p class="info author">{{book?.author?.name}}</p>
				</div>
			</div>
			<div class="left-side">
				<h2>
					<span>{{book?.author?.name}}</span>
					<span>{{book?.pageCount}} стр.</span>
				</h2>
			</div>
		</div>
  </div>
</ng-template>
